<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="content-language" content="es" />
    <meta data-n-head="ssr" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta data-n-head="ssr" data-hid="robots" name="robots" content="index,follow">
    <meta data-n-head="ssr" data-hid="description" name="description" content="Salsa">
    <meta data-n-head="ssr" charset="utf-8">
    <meta data-n-head="ssr" data-hid="og:type" property="og:type" content="website">
    <meta http-equiv="content-language" content="es">
    <meta data-n-head="ssr" data-hid="og:site_name" property="og:site_name" content="Salsa">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tag() %>
    <title>Salsa</title>
    <link href='<%= Routes.static_path(@conn, "/css/fontawesome-pro-6/css/all.css") %>' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='<%= Routes.static_path(@conn, "/css/uikit.min.css") %>' />
    <link rel="stylesheet" type="text/css" href='<%= Routes.static_path(@conn, "/css/uikit.base.min.css") %>' />
    <link rel="apple-touch-icon" href='<%= Routes.static_path(@conn, "/images/logo.png") %>'/>
    <link rel="shortcut icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/images/icon.png") %>" />
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/uikit.min.js") %>'></script>
    <script defer phx-track-static type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/js/Chart.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/js/Chart.min.js") %>'></script>
  </head>
  <body class="ui-background-white uk-relative">
    <div  style="min-height: 100vh">
      <%= @inner_content %>
    </div>
  </body>
</html>
